<div class="label-main label-main-" style="$divStyle">


    <div class="top-text">
        <div class="des-op">(Designated operator)</div>
        <div class="customs">CUSTOMS DECLARATION</div>
        <div CLASS="cn-23">CN-23</div>
    </div>

    <div class="top-first">
        <div class="from">
            <div class="from-title">From</div>
        </div>
        <div class="from-address">
             <div class="from-top">
                <div class="from-top-left">
                    <div class="from-name">$senderFullName</div>
                    <div class="from-business">$senCompnay $senderAddress <br>
                        $senderPostalCode $senderCity<br>
                        $senderCoun<br>
                        <p style="white-space: nowrap;">$senderPhoneNumber</p><br>
                    </div>
                </div>
                <div class="from-top-right">
                    <p>Sender's customs reference(if any)</p>
                </div>
            </div>
            <div class="from-bottom">
                <div class="from-str-tel">
                    <div class="from-street"></div>
                    <div class="tel"></div>
                </div>

            </div>




        </div>
        <div class="custom-down">
            <div class="custom-down-left">No. of item (barcode, if any)</div>
            <div class="custom-down-middle">May be opened officially</div>
            <div class="custom-down-right">

            </div>
            <div class="spn-p">$category</div>
            <div class="bottom-middle-barcode">
                <img src="data:image/png;base64,$barCodeImage">
                <p>$barNumber</p>
            </div>
            <div class="bottom-middle-left">
                <img src="./labelData/bpost_new_logo.png">
            </div>
        </div>
    </div>

    <div class="top-second">
        <div class="to">
            <div class="to-title">To</div>
        </div>
        <div class="to-address">
            <div class="to-name">$receiverFullName <br>

                $recBuss $receiverAddress $additAddr<br>
                $receiverPostalCode $receiverCity - $receiverCoun - $recPho<br>




            </div>
        </div>
        <div class="to-right">
            <div class="to-right-top-text">Importer or addressee reference (if any) (tax code/VAT No./importer code) (optional)</div>
            <div class="to-right-bottom-text">Importer/addressee fax/e-mail (if known)</div>
        </div>
    </div>

    <div class="cn-23-middle">
        <div class="middle-left">
            <div class="middle-left-common">
                <div class="middle-left-description">Detailed description of contents (1)</div>
                <div class="middle-left-quantity">Quantity (2)</div>
                <div class="middle-left-net-weight">
                    <p>Net weight</p>
                    <p>(in kg) (3)</p>
                </div>
                <div class="middle-left-value">Value (5)</div>
            </div>
            <div>
                <div class="middle-left-description-content">$iteDe1</div>
                <div class="middle-left-quantity-content">$iteQu1</div>
                <div class="middle-left-net-weight-content">$iteWe1</div>
                <div class="middle-left-value-content">$iteVa1</div>
            </div>
            <div>
                <div class="middle-left-description-content">$iteDe2</div>
                <div class="middle-left-quantity-content">$iteQu2</div>
                <div class="middle-left-net-weight-content">$iteWe2</div>
                <div class="middle-left-value-content">$iteVa2</div>
            </div>
            <div>
                <div class="middle-left-description-content">$iteDe3</div>
                <div class="middle-left-quantity-content">$iteQu3</div>
                <div class="middle-left-net-weight-content">$iteWe3</div>
                <div class="middle-left-value-content">$iteVa3</div>
            </div>
            <div>
                <div class="middle-left-description-content">$iteDe4</div>
                <div class="middle-left-quantity-content">$iteQu4</div>
                <div class="middle-left-net-weight-content">$iteWe4</div>
                <div class="middle-left-value-content">$iteVa4</div>
            </div>
            <div>
                <div class="middle-left-description-content">$iteDe5</div>
                <div class="middle-left-quantity-content">$iteQu5</div>
                <div class="middle-left-net-weight-content">$iteWe5</div>
                <div class="middle-left-value-content">$iteVa5</div>
            </div>
            <div class="middle-left-bottom">
                <div class="middle-left-bottom-description"></div>
                <div class="middle-left-bottom-quantity"></div>
                <div class="middle-left-bottom-net-weight">Total gross weight(4)<br>$totalGrsWei</div>
                <div class="middle-left-bottom-value">Total value(6)<br>$totlVal</div>
            </div>
        </div>
        <div class="middle-right">
            <div class="middle-right-top-text"><em>for commercial items only</em></div>
            <div class="middle-right-bottom-text">
                <div class="tariff-number">HS tariff number (7)</div>
                <div class="country-of-origin">Country of origin of goods (8)</div>
            </div>
            <div>
                <div class="tariff-number-content">$iteHs1</div>
                <div class="country-of-origin-content">$iteCo1</div>
            </div>
            <div>
                <div class="tariff-number-content">$iteHs2</div>
                <div class="country-of-origin-content">$iteCo2</div>
            </div>
            <div>
                <div class="tariff-number-content">$iteHs3</div>
                <div class="country-of-origin-content">$iteCo3</div>
            </div>
            <div>
                <div class="tariff-number-content">$iteHs4</div>
                <div class="country-of-origin-content">$iteCo4</div>
            </div>
            <div>
                <div class="tariff-number-content">$iteHs5</div>
                <div class="country-of-origin-content">$iteCo5</div>
            </div>
            <div class="postal-charges">Postal charges/Fees (9)<br>$posChar</div>
        </div>
    </div>

    <div class="bottom">
        <div class="bottom-left">
            <div class="bottom-left-first-part">
                <div class="bottom-left-first-part-top">
                    <div class="first-part-category-of-item">Category of item (10) $shipmentType  $otrship<br/>
                        Explanation: $conDesc

                    </div>

                </div>
                <div class="bottom-left-first-part-middle">

                </div>
                <div class="bottom-left-first-part-down">

                </div>
            </div>
            <div class="bottom-left-second-part">
                <div class="bottom-left-second-part-comments">Comments (11): (e.g.:goods subject to quarantine, sanitary/phytosanitary inspection or other restrictions)</div>
            </div>
            <div class="bottom-left-third-part">
                <div class="bottom-left-third-part-left">
                    <div class="third-part-left-checkbox"></div>
                    <div class="third-part-left-licence">Licence (12)</div>
                    <div class="third-part-left-no-of-licence">No(s). of licence(s)</div>
                </div>
                <div class="bottom-left-third-part-middle">
                    <div class="third-part-middle-checkbox"></div>
                    <div class="third-part-middle-certificate">Certificate (13)</div>
                    <div class="third-part-left-no-of-certificate">No(s). of certificate(s)</div>
                </div>
                <div class="bottom-left-third-part-right">
                    <div class="third-part-right-checkbox"></div>
                    <div class="third-part-middle-invoice">Invoice (14)</div>
                    <div class="third-part-middle-no-of-invoice">No. of invoice</div>
                </div>
            </div>
            <div class="bottom-left-fourth-part">
                <div class="bottom-left-fourth-part-left">
                    I certify that the particulars given in this customs declaration are correct and that this item does not contain any dangerous article prohibited by legislation or by postal or customs regulations
                </div>
                <div class="bottom-left-fourth-part-right">Date and sender's signature (15)<br>$date</div>
            </div>
        </div>
        <div class="bottom-right">
            <div class="bottom-right-first-part">
                <div class="bottom-right-first-part-left">Office of origin/Date of posting<br>$date</div>
                <div class="bottom-right-first-part-right">
                    <div class="first-part-right-top">
                        <div class="first-part-right-top-number">Number of</div>
                        <div class="first-part-right-top-parcels">parcels</div>
                        <div class="first-part-right-top-certificates">certificates and invoices</div>
                    </div>
                    <div class="first-part-right-middle">
                        <div class="first-part-right-middle-text">Insured value SDR</div>
                    </div>
                    <div class="first-part-right-bottom">
                        <div class="first-part-right-bottom-gross-weight">Total gross weight of the parcel(s)</div>
                        <div class="first-part-right-bottom-charges">Charges</div>
                    </div>
                </div>
            </div>
            <div class="bottom-right-second-part">
                <div class="bottom-right-second-part-top-text">Sender's instructions in case of non-delivery <br/>
                    $nonDeliveryInstruction
                </div>

            </div>
            <div class="bottom-right-third-part">
                <div class="bottom-right-third-part-left">Declaration by addressee</div>
                <div class="bottom-right-third-part-right">I have received the parcel described on this note</div>
                <div class="hr-line"></div>
                <div class="bottom-right-third-part-date">Date and addressee's signature</div>
            </div>
        </div>
    </div>

</div>