<div class="label-main label-main-" style="$divStyle;">
    <div class="lebel-main-top">
        <div class="lebel-main-top-zone-left">
            <img src="./labelData/bpost_logo.png">
        </div>
        <div class="lebel-main-top-zone-center">
            <div>
                <img src="./labelData/right_arrow.png">
            </div>
            <p>Te kleven op uw pakket</p>
            <p>A coller sur votre paquet</p>
            <p>Auf das Paket zu kleben</p>
        </div>
        <div class="lebel-main-top-zone-right">
            <span>Geldig tot | Valable jusqu'au | Gültig bis $validityDate</span>
        </div>
    </div>
    <div class="lebel-vas-zone">
        <div class="lebel-vas-zone-top">
            <div class="lebel-vas-zone-left">
			$leftBlock
			
			</div>
			<div class="lebel-vas-zone-middle">
                $internationalOut
            <div style="display:$hidCod;">
                 <img src="./labelData/cod.PNG "style="$cdSty">
                </div>
                <div>
                    <img alt="Embedded Image" style="margin-left: 18px;margin-top: -3px;align-items: center;height: 37px;width: 200px;display:$hidCod;" src="data:image/png;base64,$codBarCode">
                    </div>
                    <div style="margin-top: 1px;display:$hidCod;">                
				 		<p style="font-size: 9px;">$cdbar</p>
				 	</div>
                <div style="width:100%;margin-top:4px;display:$hidCod;">                    
                <div class="lebel-vas-zone-middle-bottom-cod-left">
						<img src="./labelData/invertTriangle.PNG">
                        <p class = "amount">Bedrag | Montant | Betrag</p>
                        <div>
                            <p style="font-size: 10px;">€ $amount</p>
                        </div>
                    </div>
					<div class="lebel-vas-zone-middle-bottom-cod-right" style="display:$hidCod;">
                    	<img src="./labelData/invertTriangle.PNG">
                        <p class = "account">Rekening nr | Nr de compte | Konto nr</p>
                        <div>
                            <p style="margin-top: -12px;margin-left:-22px;font-size: 10px;">$bankAcc</p>
                        </div>
                    </div>
                </div>
			</div>
            <div class="lebel-vas-zone-right">
                <p style="display:$showExclamaitaion;" class="lebel-vas-zone-excalamation">!</p>
            </div>
        </div>
    </div>
    <div class="lebel-shipper-zone">
        <p class="lebel-shipper-zone-main-p">$senderHeading</p>
        <div class="lebel-shipper-zone-left">
            <div>
                <p>
                    $senderFirstName $senderLastName<br>$senCompnay $senderStreet $sendrStrtNum $senderBox $senderPostalCode $senderCity<br>$senderCoun<br>
                    $phoneNum
                </p>
            </div>
        </div>
    </div>
    <div class="lebel-vas-zone-down">
        <span>$parcelType</span>
    </div>
    <div class="lebel-address-zone-main">
        <div class="lebel-address-zone">
            <div class="lebel-address-zone-barcode">
                <div class="lebel-address-zone-barcode-text">
                    <p class="span-p">P</p>
                    <div>
                        <img alt="Embedded Image" style="float:left;" src="data:image/png;base64,$barCodeImage">
                    </div>
                    <p class="text">$barNumber</p>
                </div>
            </div>
            <div class="lebel-address-zone-address" style="$recSty">
                    <div class="lebel-address-zone-left">
                    <p class="text-vertical">Geadresseerde</p>
                    <p class="text-vertical">Destinataire</p>
                    <p class="text-vertical">Empfanger</p>
                    <span class="five_image"><img  src="./labelData/50002_image.png"></span>
                </div>
                <div class="lebel-address-zone-address-inner">
                    <div class="lebel-address-zone-address-inner-bottom">
                        <div class="countryCodeStyle" style="display:$counCodeSty">$intCountCode</div>
                        <p class="reciever-address-head-p">$klant $receiverFirstName $receiverLastName</p>
                        <p class="reciever-address-content-p">$via $pckUp $recCompnay $receiverStreet $recerStrtNum $receiverBox $receiverPostalCode $receiverCity </p>
                        <p class="receiverCountry">$receiverCountry</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lebel-address-zone-right">
            <div class="top-text-label">Geldig tot Valable jusqu'au Gültig bis</div>
            <div class="weight">
                <img src="./labelData/weight_circle.png">
                <p>$maxWeight kg</p>
            </div>
            <div style="display:$showHideExtraWicht;" class="bottom-text">Extra gewicht Poids extra Zusatzgewicht</div>
        </div>
    </div>
</div>

