<div class="label-main label-main-" style="$divStyle;">

    <div class="top">
        <div class="top-left">
            <div class="top-left-up">
                <div class="top-zone-left">
                    <div>Account Id</div>
                    <p>$accountId</p>
                </div>
                <div class="top-zone-right">
                    <div>Sender's instruction in case of non delivery</div>
                    <p>$nonDeliveryInstruction</p>
                </div>
            </div>
            <div class="top-left-down">

                <div class="international-shipper-zone-left">
                    <div>International parcel</div>
                    <p>$labelPrduct</p>
                </div>
                <div class="international-shipper-zone-right"></div>

            </div>
        </div>
        <div class="top-right">
            <div class="top-right-main-zone">
                <div>Sender address</div>
                <p> $senCompnay
                    $senderFirstName $senderLastName<br>
                    $senderStreet $sendrStrtNum $senderBox
                    $senderPostalCode $senderCity<br>
                    $sndCoun<br>
                    $sendCont<br>
                </p>
            </div>
        </div>
    </div>
    <div class="bottom-label">
        <div class="bottom-top">
            <div class="bottom-zone">
                <div class="bottom-top-left">
                <div>Destination</div>
                <p>
                    $recCompnay
                    $receiverFirstName $receiverLastName<br>
                    $receiverStreet $recerStrtNum $receiverBox
                    $addOne
                    $adTwo
                    $receiverPostalCode $receiverCity<br>
                    $recCon<br>
                    $recPho<br>
                </p>
            </div>
            <div class="bottom-top-middle">
                <p>$conDesc</p>
            </div>
                <div class="cn23-text">
                    PLEASE ALWAYS ADD CN23 DOCUMENTS FOR ALL SHIPMENTS OUTSIDE THE EU $additionalText
                </div>
            </div>
            <div class="bottom-top-right">
                <div>
                    $showWeight
                </div>
                <div class="bottom-zone-text">
                    $isoCoun
                </div>
            </div>
        </div>
        <div class="bottom-middle">
            <div class="bottom-middle-left-label">
                <img src="./labelData/bpost_logo.png">
            </div>
            <div class="spn-p-label">$category</div>
            <div class="bottom-middle-barcode-label">
                <img alt="Embedded Image" src="data:image/png;base64,$barCodeImage">
                <p>$barNumber</p>

            </div>
            <div class="internationalFixText">Carriage hereof is subject to client’s specific contract terms or, in absence thereof, to the bpost service offering GTCs<br>(www.bpost.be\conditions).</div>
            <div class="label-bottom-right-logo">
                $epgLogo
            </div>
        </div>

    </div>


</div>
