/*===============common====================*/
@font-face {
font-family: "LocalArial";
src: url('arial.ttf') format("truetype");
}

@font-face {
font-family: "LocalArial";
src: url('arialbd.ttf') format("truetype");
font-weight: bold;
}

@page{
    margin:15pt 16pt 15pt 16.2pt;
}

body.a4 {
font-family: LocalArial;
}
body.a6 {
font-family: LocalArial;

}
p {
margin:0;
padding:0;
}
h1,h2,h3 {
margin:0;
padding:0;
}
.label-main {
border: 1px solid;
/*u546844 start*/
border-style: solid;
border-width: thin;
/*u546844 end*/
/*border-color : black;*/
float: left;
height: 46%;
width: 48.4%;
}
/*===============common====================*/

/*========top-text=========*/



.top-text {
  float: left;
  width: 661px;
  height: 15px;
}

.des-op {
  float: left;
  margin-left: 25px;
  width: 80px;
  height: 15px;
  vertical-align: bottom;
  font-size: 7px;
  padding-top: 7px;
  box-sizing: border-box;
}

.customs {
  float: left;
  font-weight: bold;
  margin-left: 165px;
  width: 169px;
  height: 15px;
  font-size: 11px;
  padding-top: 1px;
  box-sizing: border-box;
}

.cn-23 {
  float: left;
  font-weight: bold;
  margin-left: 19px;
  width: 48px;
  height: 15px;
  font-size: 11px;
  padding-top: 1px;
  box-sizing: border-box;
}


/*========top-text=========*/

.top-first {
  /*margin-left: 5px;*/
  width: 500px;
  height: 65px;

}
.from {
  float:left;
  width: 20px;
  height: 65px;
  border-top: 1px solid black;
  display: inline-block;
}

.from-title {
  font-size: 8px;
}

.from-address {
  padding-left: 2px;
  width: 240px;
  height: 65px;
  display: inline-block;
  float: left;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.from-top {
  float:left;
  width: 242px;
  height: 26px;
 }

.from-top-left {
  float: left;
  width: 194px;
  height: 26px;
  border-right: 1px solid black;
}

.from-name {
  font-size: 9px;
  height: 12px;
  display: flex;
  line-height: 10px;
 }
.from-business {
  font-size: 9px;
  line-height: 10px;
  height: 12px;
}



.from-top-right {
  float: left;
  width: 47px;
  height: 13px;
}

.from-top-right p {
   font-size: 5px;
}

.from-bottom {
   float: left;
   width: 242px;
   height: 39px;
}

.from-str-tel  {
  height: 12px;
 }

.from-street {
   float:left;
   height: 12px;
   font-size: 10px;
   width: 195px;
   line-height: 14px;

}

.tel {
  float: left;
  height: 12px;
  width: 46px;
  font-size: 10px;
  line-height: 14px;
  border-top: 1px solid black;
}

.from-post-city{
  height: 12px;
}

.from-postcode {
   float:left;
   height: 12px;
   font-size: 10px;
   width: 78px;
   line-height: 14px;
}
.from-city {
  float:left;
  height: 12px;
  font-size: 10px;
  width: 164px;
  line-height: 14px;
}

.from-country {
height: 12px;
font-size: 9px;
line-height: 14px;
}

.custom-down {
  width: 234px;
  height: 65px;
  display: inline-block;
  float: left;
}

.custom-down-left{
float: left;
font-size: 6px;
padding-left: 2px;

}
.custom-down-middle {
  float: left;
  font-size: 6px;
  font-weight: bold;
  margin-left:25px;
  border-left: 1px solid black;
  padding-left: 2px;
}

.custom-down-right {
  margin-left:16px;
  float: left;
  font-size: 6px;
  height: 21px;
}

.custom-down-right-bold{
font-weight: bold;
}



.spn-p {
  float: left;
  font-size: 22pt;
  font-weight: bold;
  margin-right: 6.5px;
  margin-top: 3px;
  text-align: right;
  vertical-align: top;
  width: 6%;
  margin-left: 29px;
}

.bottom-middle-barcode img{
  float: left;
  font-size: 40pt;
  font-weight: bold;
  margin-right: 0.5px;
  text-align: right;
  vertical-align: top;
  width: 115px;
  height: 40px;
  margin-left: 14px;
  margin-top: 0px;
}

.bottom-middle-barcode p {
  font-size: 7px;
  float: left;
  display: inline-block;
  margin-left: -82px;
  margin-top: 40px;
}

.bottom-middle-left img {
  float: left;
  width:37px;
  height: 23px;
  margin: 17px 0 0 8px;
}


/*--------------*/

.top-second {
float:left;
  /*margin-left: 5px;*/
  width: 500px;
  height: 65px;
}
.to {
  float:left;
  width: 20px;
  height: 65px;
  border-top: 1px solid black;
  display: inline-block;
  border-bottom: 1px solid black;
}
.to-title {
  font-size: 8px;
}


.to-address{
  padding-left: 2px;
  width: 240px;
  height: 65px;
  display: inline-block;
  float: left;
  border: 1px solid black;
}

.to-right{
  width: 234px;
  height: 65px;
  display: inline-block;
  float: left;
}
.to-name {
height: 12px;
font-size: 9px;
line-height: 10px;
}

.to-business {
height: 12px;
font-size: 10px;
line-height: 14px;
}

.to-street-tel {
height: 12px;
}

.to-street {
float: left;
height: 12px;
font-size: 10px;
width: 120px;
line-height: 14px;

}

.to-tel-no {
float: left;
height: 12px;
font-size: 10px;
width: 120px;
line-height: 14px;

}



.to-postcode {
float: left;
height: 12px;
font-size: 10px;
width: 78px;
line-height: 14px;
}

.to-city {
float: left;
height: 12px;
font-size: 10px;
width: 164px;
line-height: 14px;

}

.to-country{
height: 12px;
font-size: 10px;
line-height: 14px;
}

.to-right-top-text {
width: 232px;
float: left;
height: 19px;
margin-top: 26px;
border-top: 1px solid black;
border-bottom: 1px solid black;
border-right: 1px solid black;
font-size: 6px;
padding-left: 2px;
}

.to-right-bottom-text{
float: left;
width: 232px;
padding-left: 2px;
height: 19px;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-size: 6px;

}

/*--------------*/


/*---------------*/
.cn-23-middle{
  float: left;
  margin-left: 20px;
  width: 477px;
  height: 80px;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.middle-left {
  float: left;
  height: 80px;
  width: 296px;
  border-right: 1px solid black;
  margin-top: 1px;

}

.middle-left-common div{
  height: 15px;
  float: left;
  font-size: 6px;
  box-sizing: border-box;
  border-bottom: 1px solid black;

}

.middle-left-description {
  width: 173px;
  text-align: center;
  padding-top: 4px;
  border-right: 1px solid black;

}

.middle-left-quantity {
  width: 35px;
  text-align: center;
  padding-top: 4px;
  border-right: 1px solid black;
}

.middle-left-net-weight {
  width: 35px;
  text-align: center;
  border-right: 1px solid black;
}

.middle-left-value {
  width: 53px;
  text-align: center;
  padding-top: 4px;
}

.first-row {
  float: left;
}
.middle-left-description-content {
 padding-left: 2px;
 float: left;
  height: 9px;
 width: 170px;
 border-right: 1px solid black;
 border-bottom: 1px solid black;
 font-size:6px;
}

.middle-left-quantity-content {
 float: left;
 height: 9px;
 text-align:right;
 width: 34px;
 border-right: 1px solid black;
 border-bottom: 1px solid black;
 font-size:6px;
}

.middle-left-net-weight-content {
 float: left;
 height: 9px;
 width: 34px;
 text-align:right;
 border-right: 1px solid black;
 border-bottom: 1px solid black;
 font-size:6px;
}

.middle-left-value-content {
 float: left;
 height: 9px;
 width: 53px;
 text-align:right;
 border-bottom: 1px solid black;
 font-size:6px;
}

.middle-left-bottom {
height:15px;
width: 296px;
box-sizing: border-box;
}
.middle-left-bottom-description {
  height:15px;
  float: left;
  width: 172px;
  border-right: 1px solid black;
}

.middle-left-bottom-quantity {
  height:15px;
  float: left;
  width: 34px;
  border-right: 1px solid black;
}

.middle-left-bottom-net-weight {
  height:15px;
  text-align: center;
  font-size: 4px;
  float: left;
  width: 34px;
  border-right: 1px solid black;
}
.middle-left-bottom-value {
  height:15px;
  font-size: 6px;
  float: left;
  margin-left: 8px;
  text-align: center;
}

.middle-right {
  float: left;
  height: 80px;
  width: 180px;
  margin-top: 1px;
}

.middle-right-top-text{
  float:left;
  text-align: center;
  font-style: italic;
  width: 180px;
  height: 7.5px;
  padding: 1px 0px 1px 2px;
  font-size: 5.5px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.middle-right-bottom-text {
  float: left;
  width: 180px;
  height: 7.5px;
  font-size: 5.5px;
  border-bottom: 1px solid black;
  box-sizing: border-box;


}
.tariff-number{
  float:left;
  width: 89.5px;
  text-align: center;
  height: 7.5px;
  padding-left: 2px;
  border-right: 1px solid black;
  box-sizing: border-box;

}

.country-of-origin{
  float:right;
  width: 89.5px;
  height: 7.5px;
  text-align: center;
  padding-left: 2px;
  box-sizing: border-box;
  margin-top: -7px;
}

.tariff-number-content {
  float: left;
  height: 9px;
  width: 88.5px;
  text-align: center;
  line-height: 8px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size:5.5px

}

.country-of-origin-content {
  float: left;
  height: 9px;
  text-align: center;
  line-height: 8px;
  width: 90px;
  border-bottom: 1px solid black;
  font-size:5.5px
}

.postal-charges{
  float: left;
  height: 15px;
  font-size: 6px;
  width: 180px;
  padding: 1px 0px 0px 1px;
  text-align:center;
}


/*---------------*/


/*---------------*/
.bottom{
  float: left;
  margin-left: 20px;
  width: 477px;
  height: 120px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.bottom-left {
  float: left;
  width: 296px;
  height: 120px;
  border-right: 1px solid black;
}


.bottom-left-first-part {
  float: left;
  width: 296px;
  height: 29px;
  border-bottom: 1px solid black;
}




.bottom-left-first-part-top {
  float: left;
  width: 296px;
  height: 10px;
  box-sizing: border-box;
}

.first-part-category-of-item {
  float: left;
  width: 290px;
  height: 10px;
  font-size: 6px;
  padding-left: 1px;
}

.first-part-first-checkbox{
  float: left;
  width: 10px;
  height: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  margin-left: 4px;
}

.first-part-commercial-sample{
  float: left;
  width: 64px;
  height: 10px;
  font-size: 7px;
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 1px;
}
.first-part-second-checkbox{
   float: left;
   width: 10px;
   height: 10px;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   box-sizing: border-box;
}

.first-part-other{
   float: left;
   width: 73px;
   height: 10px;
   font-size: 7px;
   padding-left: 1px;
   padding-top: 1px;

}

.first-part-other-hr {
  float: left;
  width: 63px;
  height: 7px;
  font-size: 6px;
  padding-left: 1px;
  border-bottom: 0.5px solid black;
}

.bottom-left-first-part-middle {
  float: left;
  width: 296px;
  height: 10px;
  box-sizing: border-box;
}
.first-part-middle-first-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.first-part-middle-gift {
  float: left;
  width: 55px;
  height: 10px;
  font-size: 7px;
  padding-left: 2px;
  padding-top: 1px;
  box-sizing: border-box;
}

.first-part-middle-second-checkbox{
  float: left;
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.first-part-middle-returned-goods {
  float: left;
  width: 69px;
  height: 10px;
  font-size: 7px;
  padding-left: 3px;
  padding-top: 1px;
  box-sizing: border-box;
}

.first-part-middle-explanation {
  float: left;
  width: 70px;
  height: 10px;
  font-size: 7px;
}

.bottom-left-first-part-down {
  float: left;
  width: 296px;
  height: 10px;
  box-sizing: border-box;
}

.first-part-down-first-checkbox {
  float: left;
  width: 10px;
  height: 9px;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.first-part-down-documents {
  float: left;
  width: 55px;
  height: 10px;
  font-size: 7px;
  padding-left: 2px;
  box-sizing: border-box;
}

.first-part-down-second-checkbox {
  float: left;
  width: 10px;
  height: 9px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.first-part-down-sale {
  float: left;
  width: 69px;
  height: 10px;
  font-size: 7px;
  padding-left: 3px;
  box-sizing: border-box;
}

.bottom-left-second-part {
  float: left;
  width: 296px;
  height: 29px;
  border-bottom: 1px solid black;
}

.bottom-left-second-part-comments {
  float: left;
  width: 291px;
  height: 27px;
  font-size: 6px;
  padding: 2px 2px 0px 2px;
}

.bottom-left-third-part {
  float: left;
  width: 296px;
  height: 29px;
  border-bottom: 1px solid black;
}

.bottom-left-third-part-left {
  float: left;
  width: 98px;
  height: 29px;
  border-right: 1px solid black;
}

.bottom-left-third-part-middle {
  float: left;
  width: 98px;
  height: 29px;
  border-right: 1px solid black;
}

.bottom-left-third-part-right {
  float: left;
  width: 98px;
  height: 29px;
}

.third-part-left-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.third-part-left-licence {
  float: left;
  width: 87px;
  height: 10px;
  font-size: 7px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.third-part-left-no-of-licence {
  float: left;
  width: 97px;
  height: 8px;
  font-size: 6px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.third-part-middle-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.third-part-middle-certificate {
  float: left;
  width: 87px;
  height: 10px;
  font-size: 7px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.third-part-left-no-of-certificate {
  float: left;
  width: 97px;
  height: 8px;
  font-size: 6px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.third-part-right-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.third-part-middle-invoice {
  float: left;
  width: 87px;
  height: 10px;
  font-size: 7px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.third-part-middle-no-of-invoice {
  float: left;
  width: 97px;
  height: 8px;
  font-size: 6px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
}

.bottom-left-fourth-part {
  float: left;
  width: 296px;
  height: 30px;
}

.bottom-left-fourth-part-left {
  float: left;
  width: 158px;
  height: 30px;
  font-size: 7px;
  border-right: 1px solid black;
  line-height: 6px;
  padding: 3px 2px 2px 3px;
  box-sizing: border-box;
}

.bottom-left-fourth-part-right {
  float: left;
  width: 136px;
  height: 30px;
  font-size: 7px;
  padding-left: 2px;
  box-sizing: border-box;
}

.bottom-right {
  float: left;
  width: 180px;
  height: 120px;
}

.bottom-right-first-part {
  float: left;
  width: 180px;
  height: 59px;
  border-bottom: 1px solid black;
}

.bottom-right-first-part-left {
  float: left;
  width: 89px;
  height: 58px;
  font-size: 6px;
  text-align: center;
  padding-top: 1px;
  border-right: 1px solid black;
}

.bottom-right-first-part-right {
  float: left;
  width: 89px;
  height: 59px;
}

.first-part-right-top {
  float: left;
  width: 90px;
  height: 19px;
  border-bottom: 1px solid black;
}

.first-part-right-top-number {
  float: left;
  width: 29px;
  height: 5px;
  font-size: 6px;
  text-align: center;
  padding-top: 1px;
  border-right: 0.5px solid black;
}

.first-part-right-top-parcels {
  float: left;
  width: 22px;
  height: 5px;
  font-size: 6px;
  padding-top: 1px;
  border-right: 0.5px solid black;
  padding-left: 2px;
}

.first-part-right-top-certificates {
  float: left;
  width: 34px;
  height: 13px;
  padding-top: 1px;
  font-size: 6px;
  padding-left: 1px;
  line-height: 5px;
}



.first-part-right-middle {
  float: left;
  width: 90px;
  height: 19px;
  border-bottom: 1px solid black;
  background-color: rgba(191, 189, 189, 0.51);
}

.first-part-right-middle-text {
  float: left;
  width: 88px;
  height: 18px;
  font-size: 6px;
  padding: 2px 0px 0px 2px;
}

.first-part-right-bottom {
  float: left;
  width: 90px;
  height: 19px;
  background-color: rgba(191, 189, 189, 0.51);

}

.first-part-right-bottom-gross-weight {
  float: left;
  width: 54px;
  height: 19px;
  font-size: 6px;
  padding-left: 2px;
  border-right: 1px solid black;
}

.first-part-right-bottom-charges {
  float: left;
  width: 31px;
  height: 18px;
  font-size: 6px;
  padding-left: 2px;
  padding-top: 1px;
}


.bottom-right-second-part {
  float: left;
  width: 180px;
  height: 29px;
  border-bottom: 1px solid black;
}

.bottom-right-second-part-top-text {
  float: left;
  width: 180px;
  height: 5px;
  font-size: 6px;
  padding-left: 2px;
  padding-top: 1px;
}

.bottom-right-second-part-middle-text {
  float: left;
  width: 180px;
  height: 23px;
}

.bottom-right-second-part-abandoned {
  float: left;
  width: 57px;
  height: 23px;
  text-align: center;
  padding-left: 2px;
  font-size: 6px;
  padding-top: 8px;
  box-sizing: border-box;
}


.bottom-right-second-part-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  margin: 6px 0px 0px 3px;
  border: 1px solid black;
  box-sizing: border-box;
}

.bottom-right-second-part-return {
  float: left;
  width: 55px;
  height: 23px;
  font-size: 6px;
  padding-top: 8px;
  padding-left: 9px;
  box-sizing: border-box;
}

.bottom-right-second-part-priority-zone {
  float: left;
  width: 54px;
  height: 10px;
}

.bottom-right-second-part-priority-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 11px;
  border: 1px solid black;
  box-sizing: border-box;
}

.bottom-right-second-part-priority {
  float: left;
  width:30px;
  font-size: 6px;
  margin: 2px 0px 0px 2px;
}

.bottom-right-second-part-non-priority-zone {
  float: left;
  width: 54px;
  height: 10px;
}

.bottom-right-second-part-non-priority-checkbox {
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 11px;
  margin-top: 1px;
  border: 1px solid black;
  box-sizing: border-box;
}

.bottom-right-second-part-non-priority {
  float: left;
  width:30px;
  font-size: 6px;
  line-height: 4px;
  margin: 2px 0px 0px 2px;
}

.bottom-right-third-part {
  float: left;
  width: 180px;
  height: 30px;
}

.bottom-right-third-part-left {
  float: left;
  height: 30px;
  width: 50px;
  text-align: center;
  font-size: 6px;
  padding-top: 8px;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.bottom-right-third-part-right {
  float: left;
  height: 5px;
  width: 130px;
  text-align: center;
  font-size: 6px;
}

.hr-line {
  float: left;
  height: 1px;
  width: 8px;
  padding-top: 1px;
  border-bottom: 1px solid black;
}

.bottom-right-third-part-date {
  float: left;
  height: 5px;
  width: 128px;
  font-size: 5px;
  padding-top: 1px;
  padding-left: 2px;
  line-height: 7px;
}

/*---------------*/

.tick-symbol {
  float: left;
  width: 8px;
  height: 8px;
}
