/*===============common====================*/
@font-face {
  font-family: "LocalArial";
  src: url('arial.ttf') format("truetype");
}

@font-face {
  font-family: "LocalArial";
  src: url('arialbd.ttf') format("truetype");
  font-weight: bold;
}

@page{
    margin:28pt 25pt 20pt 25.2pt;
}
body.a4 {
  font-family: LocalArial;
}
body.a6 {
  font-family: LocalArial;

}
p {
  margin:0;
  padding:0;
}
h1,h2,h3 {
  margin:0;
  padding:0;
}
.label-main {
  border: 1px solid;
  border-style: solid;
  border-width: thin;
  float: left;
  height: 46%;
  width: 48.4%;
}
/*===============common====================*/
/*===============top====================*/
.lebel-main-top {
  border-bottom: 1px solid;
  float: left;
  width: 100%;
}
.lebel-main-top-zone-left {
  float: left;
  width: 17%;
}
.lebel-main-top-zone-left img {
  float: left;
  width: 14.2mm;
  margin-left:0.3mm;
  margin-top:0.3mm;
}
.lebel-main-top-zone-center {
  float:left;
  width: 45%;
  font-size: 7pt;
  line-height:12px;
}
.lebel-main-top-zone-center div {
  float: left;
  height: 9mm;
  width: 7mm;
}
.lebel-main-top-zone-center img {
  float:left;
  width:4.5mm;
  margin-top:2mm;
}
.lebel-main-top-zone-center p {
    text-align:justify;
    font-size : 9px;
}
.lebel-main-top-zone-right {
  float: left;
  font-size: 8pt;
  width: 37%;
  padding-top:5px;
  line-height:12px;
}
/*===============top====================*/
/*===============address-line====================*/
.lebel-vas-zone {
  float: left;
  height: 30%;
  width: 61%;
  border-right: 1px solid;
}
.lebel-vas-zone-top {
  float: left;
  height: 100%;
  width: 100%;
}
.lebel-vas-zone-left {
  border-right: 1px solid;
  float: left;
  height: 16.5mm;
  text-align: center;
  width: 12.5%;
  word-wrap: break-word;
  padding-top:6mm;
  padding-bottom:3mm;
}
.lebel-vas-zone-left-international-pugo {
  border-right: 1px solid;
  float: left;
  height: 20.5mm;
  text-align: center;
  width: 12.5%;
  word-wrap: break-word;
  padding-top:6mm;
  padding-bottom:3mm;
}
.lebel-vas-zone-left h1{
  font-size:20pt;
}
.lebel-vas-zone-left-international-pugo h1{
  font-size:20pt;
}
.lebel-vas-zone-middle {
  border-right: 1px solid;
  float: left;
  height: 25.5mm;
  text-align: center;
  width: 77.5%;
}
.lebel-vas-zone-middle-international-pugo {
  border-right: 1px solid;
  float: left;
  height: 29.5mm;
  text-align: center;
  width: 77.5%;
}
.lebel-shipper-zone {
  float: left;
  height: 30%;
  width: 37%;
  padding: 1px;
}
.lebel-shipper-zone-main-p{
  margin-left: 5px;
  margin-top: 1px;
  font-size: 8.5pt;
}
.lebel-shipper-zone-left {
  float: left;
  font-size: 7.6pt;
  line-height: 13px;
  margin-left: 5px;
  margin-top: 1px;
  width: 97%;
  height: 69px;
  word-break: break-all;
} 
.lebel-vas-zone-right img{
  width: 8px;
  height: 43px;
}
.lebel-vas-zone-right {
  float: left;
  height: 76%;
  padding: 14px 0px 0px 0px;
  text-align: center;
  width: 7%;
}
/*===============address-line====================*/
/*===============region-line====================*/
.lebel-vas-zone-down {
  border-top: 1px solid;
  float: left;
  width: 100%;
  height:4%;
}
.lebel-vas-zone-down span {
  float: left;
  margin-top: 1.9px;
  margin-bottom: 1px;
  margin-left: 110px;
  width: 100%;
  font-size:9pt;
}
/*===============region-line====================*/
/*===============last-line====================*/
.lebel-address-zone-main {
  border-top: 1px solid;
  width:100%;
  height: 52%;
  float:left;
}
.lebel-address-zone {
  float: left;
  width: 83%;
}
.lebel-address-zone-barcode {
  float: left;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}
.lebel-address-zone-barcode-text .span-p {
  float: left;
  font-size: 40pt;
  font-weight: bold;
  margin-right: 19.5px;
  margin-top: 0.9mm;
  text-align: right;
  vertical-align: top;
  width: 28.5%;
}
.lebel-address-zone-barcode-text div{
  height:38px;
}
.lebel-address-zone-barcode-text div img{
  height:53px;
  width: 230px;
  margin-top: 3mm;
  margin-bottom: 1mm;
}
.lebel-address-zone-barcode-text span{
  font-size:14px;
  font-weight:normal;
  margin-top:2px;
  text-align:center;
  float:left;
  width:81%;
}
.lebel-address-zone-left {
  float: left;
  width: 8%;
  vertical-align: bottom;
  margin: 61px 0px 0px 3px;
}
.text-vertical {
  width:10px;
  float:left; 
  height:10px;
  font-size: 6pt;
  transform:rotate(270deg);
}
.five_image {
  float: left;
  margin:4px 0 0 7px;
}
.five_image img{
  width:20px;
}
.lebel-address-zone-address-inner {
  border: 1px solid;
  width: 86.5%;
  height:30mm;
  float: left;
  margin-left: 2mm;
  margin-bottom: 0.5mm;
}
.reciever-address-head-p{
  padding-left: 2.5mm;
  font-weight: bold;
  margin-top:10px;
  font-size: 9pt;
}
.reciever-address-content-p{
  font-weight: bold;
  padding-bottom: 5px; 
  margin-top:0px;
  padding-left: 2.5mm;
  font-size: 8pt;
}
.lebel-address-zone-right {
  float: left;
  width: 14%;
  text-align: center;
  font-size: 7pt;
  margin: 4px 0px 2px 0px;
}
.top-text-label{
  margin:1mm 0 1mm 0;
  line-height: 11px;
}
.lebel-address-zone-right .weight img{
  width: 39px;
  float: left;
  margin-left:5mm;
}
.lebel-address-zone-right .weight p{
  width: 20mm;
  text-align: center;
  font-size: 9pt;
  margin-top: -27px;
  float: left;
  color: white;
}
.bottom-text {
  float: left;
  background: #eee;
  margin-top: 5px;
  height: 14mm;
  padding: 5px 0 3px 0;
  line-height:18px;
}
/*===============last-line====================*/

.label-main-newpage {
  margin-top:24mm;
}
body.a6 .label-main-newpage {
  margin-top:20mm;
}
.lebel-address-zone-barcode-text{
width:100%;
}
.lebel-address-zone-right .weight{
  float:left;
}
.lebel-vas-zone-middle-bottom-cod {
  float: left;
  width: 100%;
  margin-top:3px;
}  
.lebel-vas-zone-middle-bottom-cod-left {
  width: 43%;
  font-size: 9px;
}
.lebel-vas-zone-middle-bottom-cod-left img {
  float: left;
}
.lebel-vas-zone-middle-bottom-cod-right img{
 float: left;
        margin-top: -3px;
        margin-left: -18px;
        width: 15px;
}

.lebel-vas-zone-middle-bottom-cod-right span {
  font-size: 8px;
  float: left;
  margin-left: 1px;
}
.lebel-vas-zone-middle-bottom-cod-right .account {
 font-size: 6px;
     margin-top: -17px;
     margin-left: -20px;
}
.lebel-vas-zone-middle-bottom-cod-left span {
  float: left;
  width: 75%;
}
.lebel-vas-zone-middle-bottom-cod-left .amount {
  font-size: 7px;
  margin-top: 0px;
  margin-left: 10px;

}
.lebel-vas-zone-middle-bottom-cod-left img {
      margin-left: 2px;
      margin-top: -4px;
      width: 15px;
}
.label-international .lebel-vas-zone ,.label-international .lebel-shipper-zone {
  height: 40mm;
}
.label-shipper-zone-top {
  height:23mm;
  border-bottom:1px solid #000;
}
.label-shipper-zone-top-left {
  width:30mm;
  padding-top:0mm;
  height:23mm;
}
.label-shipper-zone-top-right {
  margin-top:0mm;
  width:79mm;
  height:23mm;
}
.label-shipper-zone-bottom {
  height:17mm;
}
.label-shipper-zone-bottom-left {
  width:50mm;
  padding-top:0mm;
  height:17mm;
}
.label-shipper-zone-top-left span {
  width:30mm;
}
.label-shipper-zone-top-right span {
  width:79mm;
}
.label-shipper-zone-bottom-right {
  margin-top:0mm;
  width:59mm;
  height:17mm;
}
.label-shipper-zone span {
  font-size:13px;
  width:100%;
  float:left;
}
.label-shipper-zone-top .middle,.label-shipper-zone-bottom .middle{
  height: 18mm;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  float: none;
}
.label-shipper-zone-bottom .middle{
  height: 11mm;
  width:60mm;
}
.label-shipper-zone-top-left span {
  width:30mm;
}
.label-shipper-zone-top-right span {
  width:79mm;
}
.label-international .lebel-address-zone-address-inner{
  border:0px;
  width:97%;
  height:45mm;
  margin-left: 6mm;
}
.label-international .lebel-main-top{
  height:30mm;
  border:0px;
}
.label-international .lebel-address-zone-barcode{
  width:140mm;
  height: 100px;
}
.label-international .lebel-address-zone-barcode-text span{
  width:312px;
  font-size:16px;
  font-weight:bold;
  letter-spacing:0px;
  margin:0px;
}
.label-international .lebel-address-zone-barcode-text div{
  height:78px;
}
.label-international .lebel-main-top .lebel-main-top-zone-left{
  height:30mm;
}
.label-international .lebel-main-top .lebel-main-top-zone-left div{
  height: 30mm;
  vertical-align: middle;
  display: table-cell;
}
.label-international .lebel-main-top .lebel-main-top-zone-left img{
  width: 25mm;
  margin-left:5mm;
}
.label-international .lebel-main-top-zone-right{
  float:left;
  text-align:right;
  width:100%;
  height:8mm;
}
.label-international .lebel-main-top-zone-right img{
  width:10mm;
  margin-right: 2mm;
  margin-top:-3mm;
}
.label-international .top-text-label{
  margin: 1mm 0;
  display: none;
}
.label-international .bottom-text{
  margin-top:3mm;
  height: 24mm;
}
.label-international .lebel-address-zone-right .weight{
  margin-top:1mm;
}
.label-international .lebel-address-zone-address-inner-bottom{
  float:left;
}
.label-international .label-shipper-zone-bottom-left{
  width:44mm;
  margin-left: 6mm;
}
.label-international .label-shipper-zone-bottom-left span{
  text-align: left;
}

.text{
font-size : 8pt;
margin-left:80px;
}

.lebel-vas-zone-excalamation{
    font-size : 40pt;
    margin-left: 7px;
}

.lebel-vas-zone-excalamation-international-pugo{
    font-size : 40pt;
    margin-left: 7px;
    padding-top: 10px;
}

.receiverCountry{
     font-weight: 600;
     padding-bottom: 5px;
     margin-top: 12px;
     padding-left: 2.5mm;
     font-size: 8pt;
}

.lebel-vas-zone-left p {
    font-weight: 1000;
    font-size: 20px;
}

.lebel-vas-zone-left-international-pugo p {
    font-weight: 1000;
    font-size: 20px;
    padding-top: 5px;
}

.lebel-vas-zone-middle-bottom-cod-right {
    margin-left: 130px;
    margin-top: -18px;
    width: 54%;
    font-size: 9px;
}



/*==============================INTERNATIONAL LABEL===========================*/

/*======================TOP DIV===================*/
.top{
  /*float: left;*/
  min-height: 114px;
  max-height: 114px;
  width:100%;
  /*height:25%;*/
  border-bottom: 1px solid black;
}

/*--------------------TOP LEFT------------------*/

.top-left{
  float: left;
  width:60.8%;
  height: 114px;
  border-right: 1px solid black;
}

.top-left-up{
  float: left;
  width: 100%;
  border-bottom: 1px solid black;
}

.top-zone-left{
  float: left;
  width: 27.3%;
  border-right: 1px solid black;
}

.top-zone-left div {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin: auto;
}

.top-zone-left p {
  font-size: 9.5px;
  text-align:center;
  margin: 20px;
  padding: 2px;
}

.top-zone-right{
  float: left;
  width:72.2%;
}

.top-zone-right div{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin: auto;
}

.top-zone-right p{
  font-size: 9.5px;
  text-align:center;
  margin: 20px;
}

.top-left-down{
  float:left;
  width: 100%;
}
.international-shipper-zone-left{
  float: left;
  width:80.0%;
}

.international-shipper-zone-left div{
  text-align: justify;
  font-size: 10px;
  font-weight: bold;
  margin-left: 18px;
}

.international-shipper-zone-left p{
  text-align:justify;
  font-size: 9.5px;
  margin-left: 18px;
  margin-top: 12px;
}

.international-shipper-zone-right {
  float: left;
  width: 20.0%;
  /*border-left: 1px solid black;*/
}

.international-shipper-zone-right div {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-left: 12px;
}

.international-shipper-zone-right p {
  text-align:center;
  font-size: 9.5px;
  margin:12px;
}


/*--------------------TOP LEFT------------------*/

/*--------------------TOP RIGHT------------------*/

.top-right{
  float:left;
  width: 39%;
  /*height: 25%;*/
  min-height: 114px;
  max-height: 114px;
}

.top-right-main-zone {
  float: left;
  width: 96%;
  margin-left: 10px;
}

.top-right-main-zone div {
  font-size: 12px;
  font-weight: bold;
}

.top-right-main-zone p {
  font-size: 11px;
  line-height: 15px;
  margin-top: -1px;
  word-break: break-all;
}

/*--------------------TOP RIGHT------------------*/

/*====================TOP DIV====================*/

/*====================BOTTOM DIV=================*/

.bottom-label{
  /*float: left;*/
  width:100%;
  /*height:73%;*/
}

/*---------bottom-top-------------*/

.bottom-top{
  /*float: left;*/
  width:100%;
  /*height:65%;*/
max-height: 86px;
  min-height: 86px;
}

.bottom-zone{
  width: 82%;
  float: left;
  max-height: 86px;
  min-height: 86px;
}

.bottom-top-left{
  float: left;
  width: auto;
  max-width: 60%;
}

.bottom-top-left div{
  margin-top: 3px;
  margin-left: 18px;
  font-size: 12px;
  font-weight: bold;
}

.bottom-top-left p{
  margin-top: 8px;
  margin-left: 24px;
  font-size: 11px;
  font-weight: bold;
}

.bottom-top-right{
  float: left;
  width: 14%;
  text-align: center;
  font-size: 7px;
  line-height: 16px;
}

.bottom-top-right img{
  width: 42px;
  float: left;
  align: center;
  margin-left: 24px;
  margin-top: 3px;
}

.bottom-top-right p{
  width: 20mm;
  text-align: center;
  font-size: 13px;
  margin-top: -30px;
  float: left;
  color: white;
  margin-left: 7px;
}

.bottom-zone-text {
  float: left;
  font-size: 45.5px;
  /*background: #eee;*/
  margin-top: 7px;
  height: 18mm;
  padding: 5px 0 0px 0;
  width: 19mm;
  margin-left: 10px;
  line-height: 52px;
}

/*---------bottom-top-------------*/

/*---------bottom-middle--------------*/
.bottom-top-middle div{
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
}

.bottom-top-middle p{
  font-size: 12px;
  overflow-wrap: break-word;
}

.bottom-middle{
  float: left;
  width:100%;
  /*height:25%;*/
  max-height: 112px;
  min-height: 112px;
}

.bottom-middle-left-label img {
  float: left;
  width:70px;
  margin: 24px 0 0 13px;
}


.spn-p-label {
  float: left;
  font-size: 43pt;
  font-weight: bold;
  margin-right: 19.5px;
  margin-top: 2.9mm;
  text-align: right;
  vertical-align: top;
  width: 23%;
}

.bottom-middle-barcode-label img{
  float: left;
  font-size: 40pt;
  font-weight: bold;
  margin-right: 19.5px;
  margin-top: 16px;
  text-align: right;
  vertical-align: top;
  width: 52%;
  height: 60px;
  margin-left: 8px;
}

.bottom-middle-barcode-label {
    margin-top: 0px;
}
.bottom-middle-barcode-label p {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: inline-block;
  margin-left: 300px;
}

.label-bottom-right-logo img{
  float: right;
  width: 7%;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-top: 1px;
  margin-top: -7px;
}

.label-international-out{
  font-size: 57px;
  font-weight: bold;
  padding-top: 22px;
}
.countryCodeStyle{
    float: right;
    font-weight: bold;
    font-size: 76px;
    padding-right: 22px;
    padding-top: 9px;
}
.cn23-text{
 font-size: 6px;
     margin-left: 167px;
     white-space: nowrap;
     width: 100%;
     position: absolute;
     float: left;
     /* padding-left: 24px; */
     /* text-align: right; */
     margin-top: 126px;

}
.internationalFixText {
font-size: 8px;
    float: left;
    margin-top: 4px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 416px;
    align-items: center;
}

/*---------bottom-middle-------------*/

/*====================BOTTOM DIV=================*/

/*==============================INTERNATIONAL LABEL===========================*/
