@font-face {
  font-family: "LocalArial";
  src: url('arial.ttf') format("truetype");
}

@font-face {
  font-family: "LocalArial";
  src: url('arialbd.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "LocalSans";
  src: url('D-DIN-Italic.ttf') format("truetype");
 }

@page{
    margin:1pt 1pt 1pt 1pt;
}

.main{
  float: left;
  width: 100%;
  height: 100%;
}
body.a4 {
  font-family: LocalArial;
}
body.a6 {
  font-family: LocalArial;

}
<-------------------------------->

<-----------top------------------>
.top{
  float: left;
  width: 100%;
  height: 20%;
}

.top-left {
  float: left;
  width: 20%;
  height: 100%;
}

.top-left img {
  float: left;
  height: 47px;
  width: 85px;
  margin-left: 70px;
  margin-top: 47px;
}

.top-right {
  float: left;
  width: 80%;
  height: 100%;
}

.top-right-text {
  float: right;
  margin-top: 60px;
  margin-right: 181px;
  line-height: 16px;
}

.top-right-text div{
  font-size: 16px;
  color: #333333;
}

.top-right-text p{
  font-size: 12px;
  margin-top: 0px;
}



.hr {
    float: left;
    width: 642px;
    height: 7px;
    margin-left: 41px;
    margin-top: 13px;
    height: 5%;
    font-size: 6px;
    padding-left: 1px;
    border-bottom: 0.5px solid black;

}


<-------------------------------->


<-----------middle-------------->
.middle {
  float: left;
  width: 100%;
  height: 20%;
}

.middle-left {
  float: left;
  width: 50%;
  height: 100%;
}

.middle-left-text-hr {
  float: left;
  height: 1px;
  width: 83px;
  margin-top: -2px;
  border-bottom: 1px solid black;
}
.middle-left-text {
  float: left;
  margin-top: 15px;
  margin-left: 44px;
  line-height: 16px;
}

.middle-left-text div {
 font-size: 16px;
 display: inline;
 border-bottom: 1px solid;
}

.middle-left-text p {
 font-size: 12px;
 margin-top: 0px;
}

.middle-right {
  float: left;
  width: 50%;
  height: 100%;
}

.middle-right-text-hr {
  float: left;
  height: 1px;
  width: 92px;
  margin-top: -2px;
  border-bottom: 1px solid black;
}

.middle-right-text {
  float: left;
  margin-top: 15px;
  margin-left: 81px;
  line-height: 16px;
}

.middle-right-text div {
 font-size: 16px;
 display: inline;
 border-bottom: 1px solid;
}

.middle-right-text p {
 font-size: 12px;
 margin-top: 0px;
}
<-------------------------------->


<-----------bottom-------------->
.bottom{
  margin-top: 46px;
  float: left;
  width: 100%;
  height: 50%;
}

.bottom-tabel {
  float: left;
  margin-left: 35px;
}

.bottom-table-title {
  float: left;
  border: 1px solid;
  font-size: 12px;
  font-weight: bold;
}

.Product-description {
  float: left;
  width: 238px;
  border-right: 1px solid;
  padding-left: 5px;
}

.quantity {
  float: left;
  width: 178px;
  border-right: 1px solid;
  padding-left: 5px;
}

.price {
  float: left;
  width: 130px;
  border-right: 1px solid;
  padding-left: 8px;
}

.total-amount {
  float: left;
  width: 130px;
  padding-left: 5px;
}

.product-items {
  float: left;
  border-left: 1px solid;
  border-right: 1px solid;
}

.product-items div {
  font-size: 11px;
}

.Product-description-content {
  float: left;
  width: 238px;
  border-right: 1px solid;
  padding-left: 8px;
}

.quantity-content {
  float: left;
  width: 178px;
  border-right: 1px solid;
  padding-left: 8px;
}

.price-content {
  float: left;
  width: 130px;
  text-align: right;
  border-right: 1px solid;
  padding-right: 8px;
}

.total-amount-content {
  float: left;
  text-align: right;
  width: 130px;
  padding-right: 8px;
}

.vat {
  float: left;
  height: 5%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.vat div {
font-size: 11px;
padding-top: 2px;
}

.vat-bg {
background: #d9d9d9;
}

.star {
  float: left;
  margin-left: 43px;
  font-size: 10px;
}


.table-bottom-text {
  float: left;
  font-size: 9px;

}

.down {
    float: left;
    position: absolute;
	padding-bottom: 20px;
	padding-top: 9px;
	bottom: 0px;
	width: 100%;
	height: 10%;
}

.down-top {
  float: left;
  font-size: 9px;
  margin-left: 50px;
  padding-bottom: 2px;
  font-family: LocalSans;

}

.down-bottom {
  float: left;
  font-size: 9px;
  margin-left: 210px;
  font-family: LocalSans;
}

/*Hemand-CSS*/

table, td, th {
  border: 1px solid black;
}
.no-border{
  border: none!important;
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;
}
table {
  width: 676px;
  margin-left: 35px;
  border-collapse: collapse;
  font-family: "LocalArial";
  font-size : 11px;
}
.td-norm-additional-margin{
  padding-bottom: 20px;
}
.td-1{
  max-width: 238px;
  word-break: break-all;
  min-width: 238px;
}
.td-2{
  max-width: 130px;
  min-width: 130px;
}
.td-3{
  max-width: 120px;
  min-width: 120px;
  text-align: right;
}
.td-4{
  max-width: 120px;
  min-width: 120px;
  text-align: right;
}
.td-1,.td-2,.td-3,.td-4{
  padding-left: 8px;
  padding-right: 8px;
}
.tr-head{
  font-weight: bold;
}
.tr-norm{
  background: #d9d9d9;
}
/*Hemand-CSS*/


<-------------------------------->

.empty {
  float: left;
  height: 10%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.empty1 {
  float: left;
  width: 238px;
  border-right: 1px solid;
  padding-left: 8px;
  box-sizing: border-box;
}

.empty2 {
  float: left;
  width: 178px;
  border-right: 1px solid;
  box-sizing: border-box;
}

.empty3 {
  float: left;
  width: 130px;
  border-right: 1px solid;
  box-sizing: border-box;
}

.empty4 {
  float: left;
  width: 130px;
  box-sizing: border-box;
}

.totalstar{
  margin-left: auto;
  font-size: 10px;
}